@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
	border: 0;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

body {
    height: 100vh;       
}

/*Botón para hacer la pagina hacia arriba*/
.btn-up{
    width: 50px;
    height: 50px;
    outline: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1x solid #00a86b;
    background-color: #c6ecde;    
    position: fixed;
    right: 20px;
    left: 95%;
    bottom: 120px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn-up:hover{
    opacity: .75;
}

.fa-circle-chevron-up{
    font-size: 25px;
    color: #00a86b;    
}
/*Fin botón para hacer la pagina hacia arriba*/

/*Clases para JS*/
.hide{
    opacity: 0;
}

.active{
    opacity: 1;
}
/*Fin clases para JS*/

/*Header*/
header{    
    background-color: #c6ecde;    
}

.headerLogo{
    width: 175px;      
}

.navbar-nav{
    gap: 15px;
}

.navbar-nav>.nav-item>.nav-link{
    font-size: 20px;
    font-weight: 500;
    color: #00a86b;            
}

.navbar-nav>.nav-item:last-child a{
    color: #007047;
}

.navbar-nav>.nav-item>.nav-link:hover{
    background-color: #55c59c;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    color: #fff;
}
/*Fin header*/

/*Main*/
    /*Banner*/
.img-fluid .bannerPrincipal {    
    background: url('https://images.pexels.com/photos/4507716/pexels-photo-4507716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'), #0000006e;
    background-blend-mode: color;
    width: 100%;
    /*height: 100vh !important;*/
    box-sizing: border-box !important;
    background-size:cover;
    background-position-y: center;    
    color:#fff;           
}

.img-fluid .bannerPrincipal .d-grid a:first-child{    
    background-color: transparent;
    border: #fff solid 1px;
    color: #fff;    
}

.img-fluid .bannerPrincipal .d-grid a:first-child:hover{
    background-color: #fff;
    color: black;
}

.img-fluid .bannerPrincipal .d-grid a:nth-child(2){
    background-color: #00a86b;
}

.img-fluid .bannerPrincipal .d-grid a:nth-child(2):hover{
    background-color: #00a86b;
    border: #fff solid 1px;
    color: black;
}
    /*Fin banner*/

    /*Títulos*/
.titles{
    color: #00a86b;
}
    /*Fin títulos*/

    /*Botón Ver Más*/
.ver-mas .btn{
    background-color: #00a86b;
}

.ver-mas .btn:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    background-color: #00a86b;
    border: #fff solid 1px;
    color: black;
}
    /*Fin Botón Ver Más*/

    /*Aside*/
aside .container-fluid{
    background-color: #00a86b;
}

aside .btn-conoce-mas{
    background-color: transparent;
    border: #fff solid 1px;
    color: #fff;    
}    

aside .btn-conoce-mas:hover{
    background-color: #fff;
    color: black;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
    /*Fin aside*/

    /*Contacto*/
.contacto .btnFormEnviar{
    background-color: #00a86b;
}

.contacto .btnFormEnviar:hover{    
    background-color: #007047;    
}
    /*Fin contacto*/

/*Fin main*/

/*Footer*/
footer{
    background-color: #c6ecde;
}

footer nav a img:hover{
   transform: scale(2);
   -webkit-transform: scale(2);
   -moz-transform: scale(2);
   -ms-transform: scale(2);
   -o-transform: scale(2);
}
/*Fin footer*/

/*Breakpoints*/
@media screen and (max-width: 576px) {
    .img-fluid .bannerPrincipal .d-grid{
        display: flex !important;        
    }
}

/*Sección Servicios*/
#formPacks .btnFormBorrar{
    background-color: #00a86b;
}

#formPacks .btnFormBorrar:hover{
    background-color: #007047;
}

#formPacks .btnFormResumen{
    background-color: #00a86b;
}

#formPacks .btnFormResumen:hover{
    background-color: #007047;
}

#formPacks .btnFormEnviar{
    background-color: #00a86b;
}

#formPacks .btnFormEnviar:hover{
    background-color: #007047;
}
/*Fin sección Servicios*/